#main {
    width: 73%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px;
    margin: auto;
    margin-top: 50px;
  }

  #main > div {
    text-align: start;
    margin-bottom: 10px;
    margin: auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  #main > div > img {
    margin: auto;
    width: 90%;
    padding: 20px;
  }
  #main > div > h6 {
    padding: 0 15px 0 15px;
    font-weight: 500;
  }
  #main > div > p {
    padding: 0 15px 0 15px;
    font-weight: 400;
    font-size: 12px;
  }
  #main > div > h5 {
    padding: 0 15px 0 15px;
    font-weight: 600;
  }
  .details-btn {
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 1px solid;
    color: white;
    background-color: rgb(71, 71, 231);
    margin-bottom: 30px;
    margin-left: 35%;
  }
  .details-btn:hover {
    background-color: rgb(26, 26, 226);
  }