@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #132122;
}

::-webkit-scrollbar {
    width: 3px;
}

.strip {
    width: 100%;
    height: 60px;
    background: #132122;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    font-size: 15px;
}

.banner {
    width: 100%;
    height: 90vh;
    background-image: url(https://prod.davidsbridal.com/content/dam/aem-integration/site-promos/1-17-hp/1.17_HP_NewLuxe_Desktop_1700x650.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.box-container {
    position: absolute;
    right: 80px;
    display: flex;
    flex-direction: column;
}

.box-container img {
    margin-bottom: 30px;
}

.box-container button {
    margin: 10px 0;
    padding: 20px 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.box-container button:hover {
    background: #fff;
    color: #132122;
}

.brands {
    width: 73%;
    margin: 60px auto;
}

.heading {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    cursor: pointer;
}

.top div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    margin: 50px auto;
    text-align: center;
}

.center button {
    padding: 18px 20px;
    background: transparent;
    border: 1px solid #132122;
    cursor: pointer;
    letter-spacing: 1px;
}

.center button:hover {
    background: #132122;
    color: #fff;
}

.grid2 img {
    width: 100%;
    margin-top: 50px;
}

.grid2 div {
    text-align: center;
}

.grid2 div a {
    text-decoration: underline;
    text-underline-offset: 12px;
    margin: 20px 0;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    color: #132122;
}

.grid2 div a:hover {
    color: #691c35;
}

.see-details {
    text-decoration: none;
    margin: 60px 0;
    display: block;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    color: #132122;
}

.category {
    width: 75%;
    margin: 10px auto;
}

.stylish {
    font-family: 'Babylonica', cursive;
    text-align: center;
    font-size: 80px;
    color: #691c35;
    margin-bottom: -60px;
    letter-spacing: 3px;
}

.content-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.content-div div {
    background: #691c35;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

.content-div div:hover {
    background: #4f1326;
}

.content-div div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.wink {
    width: 100%;
    text-align: center;
    margin: 60px auto -4%;
    position: relative;
}

.wink p {
    margin-top: -20px;
    letter-spacing: 1px;
    font-size: 15px;
}

.main {
    width: 60%;
    margin: 40px auto;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.col1 {
    height: 650px;
}

.col1 img {
    width: 450px;
}

.main div .col2 {
    margin-top: 100px;
    height: 400px;
}

.col2 img {
    width: 400px;
}

.main div div {
    display: flex;
    flex-direction: column;
}

.main div div a {
    text-decoration: underline;
    text-underline-offset: 12px;
    margin: 20px 0;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    color: #132122;
    text-align: right;
}

.main div div a:hover {
    color: #4f1326;
}

.row2 {
    margin: 150px 0;
    display: flex;
}

.col3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col3 h1 {
    color: #4f1326;
    font-family: 'Babylonica', cursive;
    font-size: 60px;
}

.col4 {
    width: 60%;
}

.color {
    position: absolute;
    background: #faf4ef;
    width: 100%;
    height: 900px;
    top: 40%;
    z-index: -1;
}

.best-seller {
    margin-bottom: 60px;
}

.owl-carousel-button {
    width: 70%;
    margin: auto;
}

.item p {
    font-size: 12px;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 1px;
}

.item h6 {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
}

.owl-dots {
    display: none;
}

.grid2 div h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    letter-spacing: 1px;
}

hr {
    width: 80%;
    margin: auto;
    border: 1px solid gray;
}

.exclusive-partners {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exclusive-partners div {
    font-size: 14px;
}

.exclusive-partners div img {
    width: 80px;
}