a {
  font-size: 14px;
  font-weight: 700;
}

.superNav {
  font-size: 13px;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (max-width:540px) {
  .centerOnMobile {
    text-align: center
  }
}

.nav-item a {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-item a i {
  font-size: 25px;
  color: #132122;
  margin: 10px 20px 0;
}

.nav-item i {
  font-size: 25px;
  color: #132122;
  margin: 10px 20px 0;
}

.collapse ul li {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.collapse ul li a {
  color: #132122;
}

#cat {
  font-size: 18px;
}

#total-cart-item {
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff9800;
  color: white;
  position: absolute;
  margin-top: -8px;
  margin-left: 31px;
  font-size: 10px;
  padding: 2px 6px;
}

#total-cart-item:hover {
  cursor: pointer;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255);
  width: 230px;
}

.dropdown-menu li a i {
  font-size: 14px;
  position: absolute;
  right: 10px;
}

.dropdown-item:hover {
  background-color: #132122;
  color: #fff;
}

#login-status {
  font-size: 10px;
  margin-left: 14px;
}