.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
}
::-webkit-scrollbar{
  width: 0px;
}
#backimg {
  z-index: -1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
}
#image {
  width: 100%;
  text-align: center;
}
#main {
  position: absolute;
  top: 0;
  left: 27.5%;
  max-width: 40%;
  height: 600px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.775);
  padding: 40px;
  margin-top: 30px;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
form {
  width: 100%;
}
#image > img {
  width: 40%;
}
#content {
  width: 100%;
  margin-top: 30px;
}
#content > h1 {
  font-size: 35px;
  line-height: 44px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
}
#inpname {
  font-size: 21px;
  line-height: 26.25px;
  font-weight: 500;
  color: rgb(51, 51, 51);
}
input[type="name"] {
  height: 40px;
  width: 97.4%;
  margin-top: 10px;
  border: 2px solid rgb(211, 209, 209);
  border-radius: 5px;
  font-size: 16px;
  line-height: 25.5px;
  padding-left: 10px;
}
#inpemail {
  margin-top: 15px;
  font-size: 21px;
  line-height: 26.25px;
  font-weight: 500;
  color: rgb(51, 51, 51);
}
input[type="email"] {
  height: 40px;
  width: 97.4%;
  margin-top: 10px;
  border: 2px solid rgb(211, 209, 209);
  border-radius: 5px;
  font-size: 16px;
  line-height: 25.5px;
  padding-left: 10px;
}
#pass {
  margin-top: 15px;
  font-size: 21px;
  line-height: 26.25px;
  font-weight: 500;
  color: rgb(51, 51, 51);
}
input[type="password"] {
  height: 40px;
  width: 97.4%;
  margin-top: 10px;
  border: 2px solid rgb(211, 209, 209);
  border-radius: 5px;
  font-size: 16px;
  line-height: 25.5px;
  padding-left: 10px;
}
#up {
  text-align: center;
}
button[type="submit"] {
  width: 100%;
  height: 44px;
  margin-top: 30px;
  background-color: #3183ff;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  line-height: 25.5px;
  cursor: pointer;
}
#googlebtn {
  width: 100%;
  margin-top: 20px;
  height: 44px;
  background-color: white;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#googlebtn > img {
  width: 5%;
  margin-right: 15px;
}
#google > p {
  text-align: center;
  font-size: 13.33333px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  margin-top: 10px;
  cursor: pointer;
}
#content > p {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-top: 30px;
}
